.hero{

}

/**
*
* Portfolio Section
*
**/


.port-item{
	width:300px;
	height:300px;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	img{
		display: block;
		position: relative;
	}
	h3{
		text-transform: uppercase;
		text-align:center;
		position: relative;
		font-size: 12px;
		padding: 10px;
		margin: 20px 0 0 0;
		background: $primary-color;
		color: #ffffff;
	}
	p{
		color: #fff;
		font-size: 12px;
		padding: 10px 20px 20px;
		text-align: center;
	}
}

.mask{
	width: 300px;
	height: 300px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: rgba($secondary-color, .9);
	opacity: 0;
	transition: all 0.4s ease-in-out;
	&:hover{
		opacity: 1;
	}
}

.portfolio{
	padding: 10px 0;
}

/**
*
* Section Rows
*
**/


 .blue{
 	padding: 15px 0;
 	background-color: $secondary-color;
 	h2{
 		color: #fff;
 	}
 	p{
 		color: #fff;
 	}
 }

 .yellow{
 	@extend .blue;
 	background-color: $primary-color;
 	p{
 		color: #fff;
 	}
 	h3{
 		color: #fff;
 	}
 }

 .sub-footer{
 	@extend .yellow;
 	p{
 		color: #fff;
 	}
 }

 svg{
 	height: 100%;
 }