$blue: #2c3e50;
$gold: #f1c40f;
$clouds: #f1c40f;
$silver: #bdc3c7;
$concrete: #95a5a6;
$white: #ffffff;


/* Social Colors */
$twitter: #41b7d8;
$vimeo: #aad450;
$github: #000000;
$behance: #053eff;
