// $small: new-breakpoint(min-width 300px);
// $xxsmall: new-breakpoint(min-width 320px);
// $medium: new-breakpoint(min-width 600px);
// $xxmedium: new-breakpoint(min-width 768px);
// $large: new-breakpoint(min-width 900px);
// $xxlarge: new-breakpoint(min-width 1024px);
// $huge: new-breakpoint(min-width 1200px);
// $xxhuge: new-breakpoint(min-width 1280px);
// $xxxhuge: new-breakpoint(min-width 1400px);

$xsmall: 300px;
$small: 320px;
$medium: 600px;
$xxmedium: 700px;
$large: 900px;
$xxlarge: 1025px;
$wide: 1200px;
$huge: 1280px;

//Desktop
$xhuge: 1400px;

//Wide Desktop
$mobile-viewport: new-breakpoint(min-width em($small) max-width em($xxmedium));
$small-viewport: new-breakpoint(min-width em($xxmedium) max-width em($xxlarge));

//start
$medium-viewport: new-breakpoint(min-width em($xxlarge) max-width em($huge));
$large-viewport: new-breakpoint(min-width em($huge) + 0.0625);