.header {
    text-transform: uppercase;
    margin: 0;
}

.header {
    &--small {
        font-size: $base-font-size * 1.5;
    }
    &--medium {
        font-size: $base-font-size * 2;
    }
    &--large {
        font-size: $base-font-size * 2.75;
    }
    &--huge{
        font-size: $base-font-size * 9;
    }
    &--gold{
        color: $gold
    }
    &--blue{
        color: $blue;
    }
    &--white{
        color: white;
    }
    &__center{
        @include centerer;
    }
}