.header {
    text-transform: uppercase;
    margin: 0;
}

.header {
    &--small {
        font-size: $base-font-size * 1.5;
    }
    &--medium {
        font-size: $base-font-size * 2;
    }
    &--large {
        font-size: $base-font-size * 3.25;
    }
}