/*================================
=            Utlities;
================================*/
.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.center{
	text-align: center;
}

/*-----  End of Utlities;  ------*/