/* Large Image Hero */

.hero-wrap {
    position: relative;
    display: block;
}

.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero__blurb {
    @include centerer;
    width: 20%;
}

.hero__blurb__header {
    font-size: $base-font-size * 2;
    color: $blue;
    word-spacing: em(-2);
}
/* Selling Points */

.selling-points {
    @include outer-container;
    @include clearfix;
    position: relative;
    .selling-point {
        text-align: center;
        @include media($xxmedium) {
            @include span-columns(4);
        }
    }
}
/* Skill Points */

.skills {
    @include outer-container;
    @include clearfix;
    position: relative;
    .skill-point {
        display: block;
        @include span-columns(6);
        @include omega;
        @include media($xxmedium) {
            @include span-columns(4);
            @include omega(3n);
        }
    }
}
/* Portfolio Billboard */

.portfolio-billboard {
    position: relative;
    @include clearfix;
    width: 100%;
    text-align: center;
    figure {
        position: relative;
        float: left;
        margin: 0;
        max-height: 400px;
        width: 100%;
        cursor: pointer;
        background: $blue;
        text-align: center;
        overflow: hidden;
        @include media($xxmedium) {
            width: 50%;
        }
        @include media($xxlarge) {
            width: 25%;
        }
        img {
            display: block;
            position: relative;
            width: 100%;
            min-height: 400px;
            overflow: hidden;
            &:hover {
                opacity: 0.5;
            }
        }
        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            background: $blue;
            color: white;
            overflow: hidden;
            margin: 0;
            padding: 0;
            h2 {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -40%);
                margin-bottom: 0;
                text-transform: uppercase;
            }
            p {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -60%);
            }
            a {
                position: absolute;
                top: 85%;
                left: 50%;
                transform: translate(-50%, -85%);
            }
        }
        figcaption {
            width: 100%;
            height: 100%;
            opacity: 0;
            @include transition(opacity 0.15s ease-in);
            &:hover {
                opacity: 0.9;
            }
        }
    }
    .portfolio__skill {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        &__detail {
            @include category;
        }
    }
}

.contact-now {
    @include outer-container;
    padding-bottom: 3em;
    .choice {
        display: block;
        margin: 0 1em;
        &:after {
            content: 'or'
        }
        @include media($xxmedium) {
            display: inline-block;
        }
    }
}
