.lab {
    @include outer-container(80%);
    @include media($large){
    @include outer-container(60%);
}
    img {
        max-width: 100%;
    }
}

.lab-tag {
    margin-bottom: 2em;
    a{
		&:last-child:after{
			content: "";
		}

        &::after {
            content: ", ";
        }
    }
}
