.password {
    @include outer-container(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .pwaccess {
      	height: 50px;
      	width: 250px;
        &.error {
            border: 2px solid $silver
        }
    }
}
