.entry-hero {
    width: 100%;
    height: auto;
}

.entry-details {
    padding: 3em 0;
}

.entry-desc {
    @include media($xxmedium) {
        @include span-columns(5);
    }
}

.entry-skills {
    @include media($xxmedium) {
        @include span-columns(4);
        @include shift(1);
    }
}

/*==========  Portfolio Images and Grid  ==========*/

.entry-images {
    @include clearfix;
}

.entry-2-up, .entry-4-up {
    @include row;
}

.entry-small {
    figure {
        margin: 0;
    }
    img {
        display: block;
        margin-bottom: 2%;
    }
    @include media($large){
        @include span-columns(6);
    @include omega(2n);
    }
}

.entry-large {
    figure {
        margin: 0;
    }
    img {
        display: block;
        margin-bottom: 2%;
    }
}

/*==========  Prev/Next Entry Selectors  ==========*/

.more-entries {
    @include clearfix;
    margin-top: 2em;
    margin-bottom: 2em;
    .prev-entry {
        @include span-columns(6);
        float: left;
    }
    .next-entry {
        @include span-columns(6);
        float: right;
    }
}

/*==========  Related Entries  ==========*/
.related-entries {
    @include clearfix;
    margin: 2em 0;
}

.related {
    @include media($small-viewport) {
        @include span-columns(6);
        @include omega(2n);
    }

    @include media($medium-viewport) {
        @include span-columns(3);
        @include omega(4n);
    }
}

.related__header {
    @extend header--small;
    margin-bottom: 0;
    &--small {
        font-size: em(20);
    }
}

.related__tag {
    display: inline-block;
    font-size: em(14);
    &:after {
        content: ', ';
    }
    &:last-child:after {
        content: '';
    }
}