$social: (twitter, $twitter), (vimeo, $vimeo), (behance, $behance), (github, $github);

@each $social, $color in $social {
    .social-link__#{$social} {
        color: $color;
        transition: color, .2s, ease-in;
        &:focus,
        &:hover {
            color: darken($color, 20%);
        }
    }
}

.social__link{
    display: inline-block;
    margin-right: 0.5em;
    cursor: pointer;
    pointer-events: all;
}

a.social__link {
    position: relative;
}

a.social__link:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

object{
    width: 100%;
}

.social__link {
    &--small {
        height: 40px;
        width: 40px;
    }
}

.social__link{
    &--fill{
        fill: $gold;
    }
}

.social__link {
    &--twitter {
        fill: $twitter;
        background-image: url('/assets/images/twitter.png');
        &:hover{
            fill: $blue;
        }
    }
    &--vimeo {
        fill: $vimeo;
        background-image: url('/assets/images/vimeo.png');
    }
    &--behance {
        fill: $behance;
        background-image: url('/assets/images/behance.png');
    }
    &--github {
        fill: $github;
        background-image: url('/assets/images/github.png');
    }
}