$social: (twitter, $twitter), (vimeo, $vimeo), (behance, $behance), (github, $github);

@each $social, $color in $social {
    .social__link--#{$social} {
        fill: #189DCE;
        transition: $color, 0.1s, ease-in;
        &:focus,
        &:hover {
            fill: darken($color, 20%);
        }
    }
}

.social__link{
    display: inline-block;
    margin-right: 0.5em;
    cursor: pointer;
    pointer-events: all;
}

a.social__link {
    position: relative;
}

a.social__link:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

object{
    width: 100%;
}

.social__link {
    &--small {
        height: 40px;
        width: 40px;
    }
}

.social__link{
    &--fill{
        fill: $gold;
    }
}

// .social__link {
//     &--twitter {
//         background-image: url('/assets/images/twitter.png');
//     }
//     &--vimeo {
//         fill: $vimeo;
//         background-image: url('/assets/images/vimeo.png');
//     }
//     &--behance {
//         fill: $behance;
//         background-image: url('/assets/images/behance.png');
//     }
//     &--github {
//         fill: $github;
//         background-image: url('/assets/images/github.png');
//     }
// }