.paginate {
    position: relative;
    display: block;
    padding: 4em 0;
    border-top: 4px solid $blue;
    border-bottom: 2px solid $blue;
    margin: 3em 0;
    .paginate__more {
        display: inline-block;
    }
    li {
        display: none;
        @include media($medium) {
            display: inline-block;
        }
    }
}
.paginate {
    &--center {
        text-align: center;
    }
}
.paginate__link {
    border: 1px solid $blue;
    padding: em(6) em(12);
    margin-right: em(6);
}