.comments{
	margin: 1em 0;
}

.comment{
	border: 1px solid $silver;
	padding: 1em;
	margin: 1em 0;
}

.comment-meta{
	font-size: 1em;
	margin-bottom: 0.8em;
}
.comment-name{
	font-weight: bold;
}
.comment-date{
	font-weight: bold;
}
.comment-time{
	font-weight: bold;
}