$social: (twitter, $twitter), (vimeo, $vimeo), (behance, $behance), (github, $github);

@each $social, $color in $social {
    .social-link__#{$social} {
        color: $color;
        transition: color, .2s, ease-in;
        &:focus,
        &:hover {
            color: darken($color, 20%);
        }
    }
}

.footer {
    background-color: lighten($blue, 2%);
    border-top: 2px solid darken($blue, 5%);
    padding: 3em;
    text-align: center;
}

.social__link{
    display: inline-block;
    margin-right: 1em;
    width: 30px;
    height: 30px;
    }

.social__link{
    &--small{
        height: 30px;
        width: 30px;
    }
}

.social__link {
    &--twitter {
        color: $twitter;
    }
    &--vimeo {
        color: $vimeo;
    }
    &--behance {
        color: $behance;
    }
    &--github {
        color: $github;
    }
}
