$social: (twitter, $twitter), (vimeo, $vimeo), (behance, $behance), (github, $github);

@each $social, $color in $social {
    .social-link__#{$social} {
        color: $color;
        transition: color, .2s, ease-in;
        &:focus,
        &:hover {
            color: darken($color, 20%);
        }
    }
}

.footer {
    background-color: lighten($gold, 2%);
    border-top: 2px solid darken($blue, 5%);
    padding: 3em;
    text-align: center;
}

.footer__copyright{
    background-color: $blue;
    padding: 0.5em 0;
    text-align: center;
    color: white;
    &__date{
        font-size: 0.85em;
        margin: 0;
    }
}
.social__link{
    display: inline-block;
    margin-right: 1em;
    object{
        pointer-events: none;
    }
    }

.social__link{
    &--small{
        height: 20px;
        width: 20px;
    }
}

.social__link {
    &--twitter {
        color: $twitter;
        background-image: url('/assets/images/twitter.png');
    }
    &--vimeo {
        color: $vimeo;
        background-image: url('/assets/images/vimeo.png');
    }
    &--behance {
        color: $behance;
        background-image: url('/assets/images/behance.png');
    }
    &--github {
        color: $github;
        background-image: url('/assets/images/github.png');
    }
}
