.main-content {
    min-height: 100%;
    padding-top: 10em;
}
.constrain {
    @include outer-container(90%);
    @include media($xxmedium) {
        @include outer-container(80%);
    }
}

.padding-big {
    padding: 3em 0 0;
}


/*================================
=            Utlities;
================================*/
.left {
    float: left;
}

.right {
    float: right;
}

.center{
	text-align: center;
}

/*-----  End of Utlities;  ------*/

.about{
	margin: 4em 0;
}