.constrain {
    @include outer-container(90%);
    @include media($xxmedium) {
        @include outer-container(80%);
    }
}

.padding-big {
    padding: 3em 0 0;
}


/*================================
=            Utlities;
================================*/
.left {
    float: left;
}

.right {
    float: right;
}

/*-----  End of Utlities;  ------*/