$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

$header-S: 50px;
$header-M: 70px;

.img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: $header-S;
    width: 100%;
    background: $gold;
    z-index: $header-zindex;
    -webkit-transform: translateZ(0);
    -webkit-backface-duration: 0.4s;
    @include transition-property(transform);
    @include transition-duration(0.4s);
    &.is-fixed {
        position: fixed;
    }
    @include media($xxmedium) {
        height: $header-M;
    }
}

#logo {
    display: block;
    float: left;
    margin: 6px 0 0 10px;
    img {
        display: block;
    }
    @include media($xxmedium) {
        margin: 22px 0 0 30px;
    }
}

#top-nav {
    position: absolute;
    top: 0;
    right: 120px;
    height: 100%;
    display: none;
    ul {
        height: 100%;
        padding-top: 18px;
    }
    li {
        display: inline-block;
        margin-right: 1em;
    }
    a {
        display: inline-block;
        padding: .5em;
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
    }
    @include media($xxmedium) {
        display: block;
    }
}

#menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: darken($gold, 5%);
    
    .menu-text {
        height: 100%;
        text-transform: uppercase;
        color: $white;
        font-weight: 600;
        display: none;
    }
    
    .menu-icon {
        display: inline-block;
        position: absolute;
        background-color: $white;
        height: 2px;
        width: 18px;
        @include center;
        &::before, &:after {
            content: '';
			width: 100%;
			height: 100%; 
			position: absolute;
			background-color: inherit;
			left: 0;
        }
        &::before {
            bottom: 5px;
        }
        &:after {
            top: 5px;
        }
    }
}

&.is-clicked {
    .menu-icon {
        background-color: rgba($white, 0);
        &::before, &:after {
            background-color: rgba($white, 1);
        }
        &::before {
            bottom: 0;
            @include transform(rotate(45deg));
        }
        &:after {
            top: 0;
            @include transform(rotate(-45deg));
        }
    }
	@include media($xxmedium){
		width: 110px;
		padding-left: 1.25em;

		.menu-text{
			display: inline-text;
			line-height: $header-M;
		}

		.menu-icon{
			left: auto;
			right: 1.25em;
			@include transform(translateX(0));
		}
	};
}

#lateral-nav {
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	visibility: hidden;

	z-index: $secondary-nav; 

	width: 260px;
	background-color: $gold;

	overflow-y: auto;

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	-webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
	transition: transform .4s 0s, visibility 0s .4s;

	/* this creates the subtle slide in animation of the navigation */
	@include transform(translateX(80px));

	.cd-navigation {
		margin: 10px 0 16px;
	}

	.sub-menu {
		padding: 0 10px 20px 15px;
		display: none;
	}

	a {
		display: block;
		line-height: 2em;
		padding: 0 16px 0 32px;
		color: $white;

		&.current {
			background-color: lighten($gold, 10%);
			color: #FFF;
		}

		.no-touch &:hover {
			color: #FFF;
		}
	} 

	@include media($xxmedium) {
		.cd-navigation {
			margin: 20px 0;
		}
	}

	&.lateral-menu-is-open {
		@include transform(translateX(0));
		visibility: visible;
		-webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
		-moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
		transition: transform .4s 0s, visibility 0s 0s;

		/* smooth the scrolling on touch devices - webkit browsers */
		-webkit-overflow-scrolling: touch;
	}
}
