.is-fixed {
    position: fixed;
}

.centered-navigation {
    $centered-navigation-padding: 1em;
    $centered-navigation-logo-height: 4em;
    $centered-navigation-background: $gold;
    $centered-navigation-color: transparentize($blue, 0.1);
    $centered-navigation-color-hover: $blue;
    $centered-navigation-height: 5em;
    $centered-navigation-item-padding: 1em;
    $centered-navigation-submenu-padding: 1.5em;
    $centered-navigation-submenu-width: 12em;
    // $centered-navigation-item-nudge: 3em;

    background-color: $gold;
    border-bottom: 2px solid darken($blue, 6%);
    min-height: $centered-navigation-height;
    width: 100%;
    z-index: 9999;

    .mobile-logo {
        display: inline;
        float: left;
        width: 75px;
        max-height: $centered-navigation-height;
        padding: 0.2em 0;

        @include media($large) {
            display: none;
        }
    }
    .centered-navigation-mobile-menu {
        color: $blue;
        display: block;
        float: right;
        font-weight: 700;
        line-height: $centered-navigation-height;
        margin: 0;
        padding-right: $centered-navigation-submenu-padding;
        text-decoration: none;
        text-transform: uppercase;
        @include media($large) {
            display: none;
        }

        &:focus,
        &:hover {
            color: white;
        }
    }
    .centered-navigation-wrapper {
        @include outer-container(75em);
        @include clearfix;
        position: relative;
        z-index: 999;
    }
    ul.centered-navigation-menu {
        -webkit-transform-style: preserve-3d;
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 99999;
        position: relative;
        &.show {
            display: block;
        }
        @include media($large) {
            display: block;
            text-align: center;
        }
    }
    .nav-link:first-child {
        @include media($xxmedium) {
            margin-left: 0;
        }
    }
    ul li.nav-link {
        background: lighten($gold, 6%);
        display: block;
        line-height: $centered-navigation-height;
        overflow: hidden;
        padding-right: 1.5em;
        text-align: center;
        width: 100%;
        z-index: 9999;
        height: auto;
        a {
            color: $centered-navigation-color;
            display: inline-block;
            outline: none;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 800;
            &:focus,
            &:hover {
                color: lighten($blue, 10%);
            }
        }
        @include media($large) {
            background: transparent;
            display: inline;
            line-height: $centered-navigation-height;
            a {
                padding-right: $centered-navigation-item-padding;
            }
        }
    }
    li.logo.nav-link {
        display: none;
        line-height: 0;
        @include media($large-screen) {
            display: inline;
        }
    }
    .logo img {
        position: absolute;
        top: 0;
        left: 20px;
        height: 75px;
        display: block;
    }
}